body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; background-color: FFFFFF }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1528px; height: 200px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#4{
	top: 0px;
	left: 0px;
	width: 1528px;
	height: 500px;
	background:#;
}

#страхует {
	top: 0%;
	left: 0%;
	high: 100%;
}

#фон {
	top: 0%;
	left: 0%;
	width: 100%;
}

#Картинка1 {
	top: 16%;
	right: 14%;
	width: 16%;
}

#Картинка2 {
	top: 83%;
	left: 41%;
	width: 15%;
}

#Картинка3 {
	top: 59%;
	left: 16%;
	width: 14%;
}

#Картинка4 {
	top: 97%;
	left: 47%;
	width: 12%;
}

#Картинка5 {
	top: 76%;
	left: 60%;
	width: 12%;
}

#Картинка6 {
	top: 44%;
	left: 16%;
	width: 14%;
}

#Картинка7 {
	top: 0%;
	right: 0%;
	width: 11%;
}

#Картинка8 {
	top: 10%;
	right: 10%;
	width: 50%;
}

#Картинка9 {
	top: 57%;
	right: 50%;
	width: 16%;
}

#Картинка10 {
	top: 96%;
	right: 66%;
	width: 14%;
}

#Картинка11 {
	top: 4%;
	left: 4%;
	width: 9%;
}

#Картинка12 {
	top: 31%;
	left: 7%;
	width: 9%;
}

#Картинка13 {
	top: 8%;
	left: 8%;
	width: 49%;
}

#Картинка14 {
	top: 18%;
	right:27%;
	width: 29%;
}

#Картинка15 {
	top: 113%;
	left:0%;
	width: 17%;
}

#Картинка16 {
	top: 69%;
	left:45%;
	width: 36%;
}